html {
    height: 100vh;
}

body {
    margin: 0;
    background-color: black;
    font-family: 'Lazenby Computer';
    min-height: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: flex-start;
    height: 100vh;
}

p {
    color: rgb(0, 255, 0);
}

div, p, button {
    font-family: 'Lazenby Computer';
}

@font-face {
    font-family: 'Lazenby Computer';
    src:url('LazenbyComputer-Liquid.woff2') format('woff2'),
        url('LazenbyComputer-Liquid.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#top, #bottom, #left, #right {
	background: rgb(228, 228, 163);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 50px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 50px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.header {
    text-align: center;
    position:initial;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    background-color: black;
    margin-top: 60px;
}

.titleTxt, .subheader {
    color: rgb(0, 255, 0);
}

.titleTxt {
    font-size: 60px;
}

.game {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 15px;
}

.flavorText {
    padding-bottom: 15px;
    color: rgb(0, 255, 0);
}

button {
    padding: 5px;
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    background-color: black;
}

.scorebox {
    display: flex;
    text-align: center;
    padding: 10px;
}

.pcScore, .playerScore, .results {
    color: rgb(0, 255, 0);
}

.scorebox > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.results {
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 75vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*end screen*/
#endScreen {
    transform: translate(-50%,-50%) scale(0);
    z-index: 1;
    position: fixed;
    background-color: black;
    top: 50%;
    left: 50%;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    transition: 4000ms, ease-in-out;
    text-align: center;
    font-size: 20px;
    border: 5px solid rgb(0, 255, 0);
}

#endScreen > p {
    color: rgb(0, 255, 0);
}

#endScreen > button {
    margin-bottom: 12px;
}

#endScreen.active {
    transform: translate(-50%,-50%) scale(1);
}

.overlay {
    background-color: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    position: fixed;
}

.overlay.active {
    display: block;
}

.footer {
    position: absolute;
    margin-bottom: 50px;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}